extends layout

block content
	.demo.row
		h1 Tính tổng hai số
		.col-md-5
			label Số thứ nhất
			</br>
			</br>
			label Số thứ hai
			</br>
			</br>
			label Kết quả
			</br>
		.col-md-7
			input(type="text", placeholder="Số thứ nhất")
			input(type="text", placeholder="Số thứ hai")		
			input(type="text" disabled=true)
		button Tính